. {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.innerNavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
}
