* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html{
  text-align: center;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  p,
  h1 {
    font-size: 16px;
  }
}
